/*begin:main*/
div.base-nav-container {
    left:0;
    width:100%;
    background-color:#222;
}

nav.base-nav {
    font-size: 0.8em;
    background-color: #222;
    padding: 3px 6px;
    border-bottom: 1px solid #666;
    color: #888;
    text-align: right;
    position: relative;
    width: 100%;
    font-family: sans-serif;
}

nav.base-nav ul {
    list-style-type: none;
    margin: 0;
}

nav.base-nav ul li {
    display: inline;
}

nav.base-nav ul li a {
    text-decoration: none;
    padding: 0 3px;
    color: #888;
}

nav.base-nav ul li a:hover {
    color: #fefefe;
}
/*end:main*/

/*begin:sub*/
nav.sub-nav {
    font-size: 1em;
    border-bottom:3px solid #690717;
    background-color: #a4192f;
}

nav.sub-nav a.navbar-brand {
    color:#fefefe;
}

nav.sub-nav li.nav-item a.nav-link {
    color:#fefefe;
}
/*end:sub*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
    margin: 21px 0;
}